<h1>Edit Task</h1>

<%= form_with model: @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%# <%= f.select :completed %>
  <%= f.submit %>
  <%= link_to tasks_path do %>
  Back to list
  <% end %>
<% end %>

<%# f.label :completed
f.text_field :completed %>
